<div ng-click="home();" style="position: absolute; top: 11px; left: 11px;">
    <i class="fa fa-home fa-4x"></i>
</div>
<div ng-click="previous();" style="position: absolute; bottom: 11px; left: 11px;">
    <i class="fa fa-arrow-left fa-4x"></i>
</div>
<div ng-click="next();" style="position: absolute; bottom: 11px; right: 11px;">
    <i class="fa fa-arrow-right fa-4x"></i>
</div>
<div>
    <table class="gallery" ng-hide="hidePic">
        <tr ng-repeat="lines in box" style="height: 200px;">
            <td ng-repeat="line in lines" style="width: 320px;">
                <img id="{{line.num}}" ng-src="{{userConfig.picPath+line.fileName}}" ng-click="toPhoto(line.fileName, line.num);" ng-style="imgStyle[line.num]" imageonload="imageOnLoad(line.num);"/>
            </td>
        </tr>
    </table>
</div>