<div ng-click="goToPage('photo');" style="position: absolute; top: 140px; left: 340px;">
    <i class="fa fa-camera-retro fa-5x"></i>
</div>
<div ng-click="goToPage('gallery');" style="position: absolute; top: 140px; left: 660px;">
    <i class="fa fa-th fa-5x"></i>
</div>
<div ng-click="goToPage('weather');" style="position: absolute; top: 370px; left: 340px;">
    <i class="fa fa-cloud fa-5x"></i>
</div>
<div ng-click="goToPage('music');" style="position: absolute; top: 370px; left: 660px;">
    <i class="fa fa-music fa-5x"></i>
</div>
<div ng-click="goToPage('settings');" style="position: absolute; bottom: 11px; left: 11px;">
    <i class="fa fa-cog fa-4x"></i>
</div>
<div ui-view></div>
