<div style="text-align:center;">
    <div style="height: 250px;"></div>
    <div>
        <sound-manager>
            <div>
                <a class="btn btn-primary btn-lg" ng-click="playAndPause()">
                    <i ng-class="randomClass"></i><span style="font-size: 72px;">播放/暂停</span>
                </a>
            </div>
        </sound-manager>
    </div>
    <div style="height: 50px;"></div>
    <div>
        <sound-manager>
            <div>
                <a class="btn btn-primary btn-lg" ng-click="prev()">
                    <i ng-class="randomClass"></i><span style="font-size: 72px;">上一首</span>
                </a>
            </div>
            <div>
                <a class="btn btn-primary btn-lg" ng-click="next()">
                    <i ng-class="randomClass"></i><span style="font-size: 72px;">下一首</span>
                </a>
            </div>
        </sound-manager>
    </div>
</div>
