<div ng-click="settings();" style="position: absolute; top: 11px; left: 11px;">
    <i class="fa fa-cog fa-4x"></i>
</div>
<!-- <div ng-click="toGallery();" style="position: absolute; top: 11px; left: 90px;">
    <i class="fa fa-th fa-4x"></i>
</div> -->
<div ng-click="playAndPause();" style="position: absolute; top: 11px; right: 11px;">
    <i ng-class="playAndPauseClass"></i>
</div>
<div class="box" ng-hide="hidePic">
    <img id="currPic" ng-src="{{userConfig.picPath+fileName}}" ng-style="imgStyle" imageonload="imageOnLoad();" ng-swipe-left="nextPhoto();"/>
</div>