<div ng-click="home();" style="position: absolute; top: 11px; left: 11px;">
    <i class="fa fa-home fa-4x"></i>
</div>
<div style="font-family: 微软雅黑; font-size: 180px; margin-top: 95px; margin-left: 240px;">
    {{time.hour}}:{{time.minute}}
</div>
<div style="font-family: 微软雅黑; font-size: 48px; margin-top: 40px; margin-left: 240px;" ng-hide="hideWeather">
    <!-- 天气预报功能正在开发中<br>请点击左上角返回 -->
    <table>
        <tr ng-repeat="day in days">
            <td>{{day.day}}  {{day.low}}/{{day.high}}℃  {{day.code | weather}}</td>
        </tr>
    </table>
</div>