<!-- <div ng-click="home();" style="position: absolute; top: 11px; left: 11px;">
    <i class="fa fa-home fa-4x"></i>
</div> -->
<div style="font-family: 微软雅黑; font-size: 230px; margin-top: 65px; margin-left: 350px;">
    {{time.hour}}:{{time.minute}}
</div>
<div style="font-family: 微软雅黑; font-size: 60px; margin-top: 40px; margin-left: 350px;" ng-hide="hideWeather">
    <table>
        <tr ng-repeat="day in days">
            <td>{{day.day}}  {{day.low}}/{{day.high}}℃  {{day.code | weather}}</td>
        </tr>
    </table>
</div>